*{
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}
body {
  background-color: #f4f4f4;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif; */
  /* text-decoration: none; */
}

body > a{
    text-decoration: none;
}
.container {
  /* font-family: Arial, sans-serif; */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  margin: 0;
}
.signup-container {
  background: white;
  padding: 50px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px #0000001a;
  width: 500px;
  height: 350px;
  text-align: center;
}

.container-logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  justify-content: center;
}

.logo{
  display: flex;
  gap: 0.5rem;
  font-family: Arial, sans-serif;
  margin: 20px;
}

.logo-icon {
  color: rgb(79, 70, 229);
}

.logo h1 {
  font-size: 1.5rem;
  font-weight: bold;
  color: rgb(17, 24, 39);
}

.signup-container h2 {
  margin-bottom: 20px;
  margin-left: -427px;
}
.input-field {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.signup-btn {
  width: 100%;
  padding: 10px;
  background-color: #4f46e5;
  border: none;
  color: white;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}
.signup-btn:hover {
  background-color: #4338ca;
}

.sign-in a {
  text-decoration: none;
}

.terms {
  margin: 15px;
  font-size: 12px;
}

.terms a {
  color: #007bff;
  text-decoration: none;
}
.terms a:hover {
  text-decoration: underline;
}
